.prescriptioninput{
    margin-top: 30px;
    background-color: rgb(204, 185, 80);
    border: 2px solid grey;
    padding: 2% 0;
    text-align: center;
}

.prescriptioninput_section{
    display: block;
}

.input_section{
    display: block;
    margin: auto;
}