.title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .title2{
    text-align: center;
    color: rgb(219, 64, 98);
    font-family: cursive;
  }
  
.page {
    width: 60%;
    margin: 100px auto;
    border: 1px solid grey;
    border-radius: 10px;
    -webkit-box-shadow: -1px 3px 15px 4px rgba(0,0,0,0.64); 
    box-shadow: -1px 3px 15px 4px rgba(0,0,0,0.64);
    padding: 15px;
  }