.filter_section{
    width: 70%;
    display: flex;
    margin:auto;
    height:7vh;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: hidden;
}

.filter_heading{
    color: white;
    background-color: rgb(79, 133, 134);
    height: 100%;
    width: 30%;
    text-align: center;
    font-size: 1.5rem;
    padding:10px;
}

.filter{
    width:35%;
    border: none;
    background-color: rgb(108, 177, 177);
}

.filter :active{
    background-color: rgb(148, 216, 207);
}

.information_section{
    width: 70%;
    margin: auto;
}

