.singledrug_content{
    display: flex;
}

.filter_section{
    margin: 40px auto;
    display: block;
}

.filter_heading{
    color: white;
    text-align: center;
    background-color: rgb(212, 120, 120);
    font-size: 1.5rem;
    padding:10px;
    border-radius: 10px;
}

.filter{
    margin: 20px auto;
    display: block;
    width: 100%;
    border: none;
}



.filter_type{
    color: grey;
    font-size: 1.3rem;
    font-weight: 700;
}

.filter_select{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.filter_option{
    padding: 10px;
    margin: 10px;
    display: block;
}

.manufacturer{
    display: block;
}

.information_section{
    width: 70%;
    margin: 40px auto;
}

.selectedfilter_section{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.selectedfilter{
    display: flex;
    padding: 5px;
    margin: 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background: rgba(233, 184, 184, 0.664);
}

.removefilter_button{
    background: none;
    padding: 0px 10px;
    border: none;
    color: grey;
    cursor: pointer;
}

.clearall_button{
    color: rosybrown;
    background: none;
    border: none;
    cursor: pointer;
}