.singledruginput{
    margin: 40px auto;
    text-align: center;
}

.druginput{
    background: white;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid grey;
    border-radius: 5px;
}

.druginput :focus :active :hover{
    border: none;
}

.section_heading{
   font-size: 20px;
   font-weight: 700;
   padding: 20px;
}