.medselector{
    width: 70%;
    margin: auto;
    -webkit-box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
}