.medselector{
    width: 70%;
    margin: auto;
    -webkit-box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 30px 0px rgba(0,0,0,0.75);
}

.prescription_filter_section{
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.prescription_filter_heading{
    margin: 10px;
    font-size: 2rem;
    font-weight: 600;
    display: block;
}

.prescription_filters{
    display: flex;
    width: 70%;
    margin: auto;
    height: 5vh;
    border: 1px solid grey;
}