* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}



.top{
  text-align: center;
}

/* input{
  border: 1px solid #999;
  padding: 0.5rem;
  height: 40px;
} */

.searchbutton{
  color: white;
  font-size: 1rem;
  background-color: rgb(112, 194, 231);
  border: 2px solid grey;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  margin: auto 5px;
  cursor: pointer;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background:white;
}


.inputsearch{
  /* margin-left: 30%; */
  margin-top: 2%;
  width: 50%;
  height: 8%;
}

.topheading{
  background-color: #FAFAD2;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.heading img{
  max-width: 7%;
  max-height: 7%;
  margin-left: 5%;
}

th {
  cursor: pointer;
}

body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: '👇';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '☝️';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}


.no-suggestions {
  color: black;
  padding: 0.5rem;
  margin-left: 20% ;
}

.suggestions {
  border: 1px solid #999;
  border-radius: 5px;
  border-top-width: 0;
  list-style: none;
  margin: auto;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 50%;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: rgb(219, 143, 153);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

button :active :focus{
  border: none;
  outline: none;
}