.heading{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #e25e5e;
    padding: 20px 32px;
}

.web_title{
    position: absolute;
    left: 10%;
    font-size: 2rem;
    font-weight: 700;
}

.language_selector{
    position: absolute;
    right: 10%;
}

.language_toggle_button{
    color: white;
    background: none;
    border: none;
    padding: 5px;
    margin: 5px;
}