.prescriptioninput{
    display: flex;
    width: 50%;
    margin: 10px ;
}


.input_section{
    display: block ;
    width: 95%;
}



.submitbutton{
    background-color: rgb(80, 194, 105);
    padding: 5px 10px;
    margin: auto 5px;
}
