.prescriptioninput_section{
    margin-top: 30px;
    padding: 2% 0;
    text-align: center;
}

.prescriptioninput_item{
    justify-content: center;
    display: flex;
}

.removebutton{
    background-color: tomato;
    padding: 5px 10px;
    margin: auto 5px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.addbutton{
    background-color: rgb(71, 255, 141);
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid grey;
    padding: 10px;
    margin: auto 5px;
    width: 15%;
    height: 100%;
    border-radius: 5px;
}