.druginfo_section{
    display: flex;
    width: 70%;
    margin: 10vh auto 5vh auto;
    height: 30vh;
    border: 1px solid grey;
    -webkit-box-shadow: -1px -1px 40px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px -1px 40px -1px rgba(0,0,0,0.69);
    box-shadow: -1px -1px 40px -1px rgba(0,0,0,0.69);
}

.drug_image{
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgb(109, 106, 108);
}

.drugname{
    font-size: x-large;
    font-weight: 600;
}

.drug_decription{
    width: 80%;
    overflow: hidden;
}

.description{
    font-size:13px;
}