.pricecard{
    margin: 50px auto;
    display: flex;
    width: 90%;
    border-bottom: 1px solid grey;
}

.names_section{
    width: 50%;
    display: Block;
}

.productname{
    margin: auto;
    font-size: 2rem;
    color: rgb(7, 119, 119);
}

.manufacturername{
    color: grey;
    font-size: 1rem;
    margin: auto;
    font-style: italic;
}

.price_section{
    width: 100%;
    margin: 20px;
    text-align: center;
    display: block;
}

.pricearea{
     
    text-align: center;
}

.minimumprice_section{
    margin-bottom: 5px;
}

.minimumpricearea{
    width: 30%;
    background-color: rgb(66, 172, 166);
    margin: auto;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 10px;
}

.remaninigprice_section{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.remainingpricearea{
    display: block;
    width: 25%;
    text-align: center;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 7px;
}


.replacebutton{
    color: white;
    padding: 5px;
    margin: 5px;
    width: 20%;
    cursor: pointer;
    background-color: rgb(42, 90, 161);
    border: 2px solid grey;
    border-radius: 10px;
}