.pricecard{
    background-color: khaki;
    display: flex;
    margin: 20px auto;
    width: 80%
}

.productname{
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 2rem;
}

.pricearea{
    text-align: center;
    width: 20%;
    background-color: rgb(210, 212, 85);
}

.price_text{
    margin: auto;
    font-size: 1.5rem;
}