.brands_section{
    width: 50%;
    margin: auto;
    text-align: center;
}

.brands_heading{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: cursive;
}

.brands_images{
    width: 100%;
    justify-content: space-between;
}